# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
!example/pubspec.lock
.fvm/flutter_sdk
.fvm/versions

# Xcode / native reference
native_reference/build/
xcuserdata/
*.xcuserstate
DerivedData/

# OS / editors
.DS_Store
.idea/
*.iml
